h1{
    color:  #F26925;
}
tr>td:hover{
    border-color: black;
}
tr>td:not(hover){
    padding: 10px;
    border:2px;
    border-style: solid;
    border-color: #F26925;
}

li{
    list-style: none;
}
th{
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: #F26925;
}
table {
    table-layout: auto;
  }