h1 {
    color: #F26925;
}

h4 {
    padding-left: 5%;
}

tr>td:hover {
    border-color: black;
}

tr>td {
    padding: 20px;
    align-content: center;
}

.topic-button {
    white-space: break-spaces;
    line-height: 1.5;
    margin-top: 5px;
}

#edit-button {
    margin-left: 10px;
    border-radius: 25px;
}

.edit-btn-change {
    background-color: #F26925;
}

.tech-button {
    margin-left: 10px;
    border-radius: 50px;
}

#java {
    background-color: red;
}

#angular {
    background-color: orange;
}

#javascript {
    background-color: yellow;
}

li {
    list-style: none;
}

th {
    text-align: center;
}

table {
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    background-color: lightgray;
}

.cdk-row .cdk-cell {
    background-color: grey;
}

.cdk-row:nth-child(even) .cdk-cell:nth-child(odd), .cdk-row:nth-child(odd) .cdk-cell:nth-child(even) {
    background-color: lightgrey;
}

.weeks {
    width: 75%;
    height: 75%;
    padding-left: 5%;
}

.title_container {
    padding-left: 5%;
    display: block ruby;
}

.example-button-row {
    padding-left: 5%;
}

.button-row {
    display: inline-block;
}