<div class="title-content">
  <div id="title">
    <h4>
      Manage Curriculum
    </h4>
  </div>
</div>
<div class="general-content">
  <div class="curriculum-background">
    <div class="curriculum-content">
      <div class="curriculum-heading">
        <div style="width: 80%;">
          <div class="curriculum-title">
            <h1 style="color: #F26925">{{title}}</h1>
            <mat-slide-toggle (change)=startEdit() style="padding-left: 2%;"></mat-slide-toggle>
            &nbsp;
            &nbsp;
            <fa-icon class="icons" [icon]="faEdit" style="font-size: 22px; color: rgb(92, 92, 92);"></fa-icon>
          </div>
          <div class="pie-chart-legend">
            <h5 id="legend-title">Technologies</h5>
            <div class="legend-labels">
            </div>
            <div class="example-button-row">
              <div *ngFor="let item of pieChartLabels;index as i;" class="button-row">
                <button mat-raised-button id="" class="tech-button"
                  [style.background-color]=stringToColor(pieChartLabels[i])>{{pieChartLabels[i]}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="pie-chart-content">
          <canvas baseChart [legend]="false" [data]="pieChartData" [labels]="pieChartLabels" [colors]="pieChartColors"
            chartType="pie"></canvas>
        </div>
      </div>
      <div class="curriculum-calendar">
        <!--tech list-->
        <table cdk-table id="data_table" [dataSource]="dataSource">
          <ng-container cdkColumnDef="week">
            <th id="tech" cdk-header-cell *cdkHeaderCellDef> </th>
            <td cdk-cell *cdkCellDef="let week"> Week {{week.id}}: {{week.name}} </td>
          </ng-container>

          <div cdkDropListGroup>
            <ng-container cdkColumnDef="day1">
              <th id="day1" cdk-header-cell *cdkHeaderCellDef> Monday </th>
              <td cdk-cell *cdkCellDef="let week">
                <div cdkDropList [cdkDropListData]="week.days[0]" class="day_list" (cdkDropListDropped)="drop($event)">
                  <div *ngIf="week.days[0].length==0; else elseBlock">
                    &nbsp;
                  </div>
                  <ng-template #elseBlock>
                    <div *ngFor="let item of week.days[0];index as i;" cdkDrag [cdkDragDisabled]="!this.editing">
                      <button mat-raised-button class="topic-button"
                        [style.background-color]=stringToColor(item.technology.techName)>{{item.name}}</button>
                    </div>
                  </ng-template>
                </div>
              </td>
            </ng-container>

            <ng-container cdkColumnDef="day2">
              <th id="day2" cdk-header-cell *cdkHeaderCellDef> Tuesday </th>
              <td cdk-cell *cdkCellDef="let week">
                <div cdkDropList [cdkDropListData]="week.days[1]" class="day_list" (cdkDropListDropped)="drop($event)">
                  <div *ngIf="week.days[1].length==0; else elseBlock">
                    &nbsp;
                  </div>
                  <ng-template #elseBlock>
                    <div *ngFor="let item of week.days[1];index as i;" cdkDrag [cdkDragDisabled]="!this.editing">
                      <button mat-raised-button class="topic-button"
                        [style.background-color]=stringToColor(item.technology.techName)>{{item.name}}</button>
                    </div>
                  </ng-template>
                </div>
              </td>
            </ng-container>

            <ng-container cdkColumnDef="day3">
              <th id="day3" cdk-header-cell *cdkHeaderCellDef> Wednesday </th>
              <td cdk-cell *cdkCellDef="let week">
                <div cdkDropList [cdkDropListData]="week.days[2]" class="day_list" (cdkDropListDropped)="drop($event)">
                  <div *ngIf="week.days[2].length==0; else elseBlock">
                    &nbsp;
                  </div>
                  <ng-template #elseBlock>
                    <div *ngFor="let item of week.days[2];index as i;" cdkDrag [cdkDragDisabled]="!this.editing">
                      <button mat-raised-button class="topic-button"
                        [style.background-color]=stringToColor(item.technology.techName)>{{item.name}}</button>
                    </div>
                  </ng-template>
                </div>
              </td>
            </ng-container>

            <ng-container cdkColumnDef="day4">
              <th id="day4" cdk-header-cell *cdkHeaderCellDef> Thursday </th>
              <td cdk-cell *cdkCellDef="let week">
                <div cdkDropList [cdkDropListData]="week.days[3]" class="day_list" (cdkDropListDropped)="drop($event)">
                  <div *ngIf="week.days[3].length==0; else elseBlock">
                    &nbsp;
                  </div>
                  <ng-template #elseBlock>
                    <div *ngFor="let item of week.days[3];index as i;" cdkDrag [cdkDragDisabled]="!this.editing">
                      <button mat-raised-button class="topic-button"
                        [style.background-color]=stringToColor(item.technology.techName)>{{item.name}}</button>
                    </div>
                  </ng-template>
                </div>
              </td>
            </ng-container>

            <ng-container cdkColumnDef="day5">
              <th id="day5" cdk-header-cell *cdkHeaderCellDef> Friday </th>
              <td cdk-cell *cdkCellDef="let week">
                <div cdkDropList [cdkDropListData]="week.days[4]" class="day_list" (cdkDropListDropped)="drop($event)">
                  <div *ngIf="week.days[4].length==0; else elseBlock">
                    &nbsp;
                  </div>
                  <ng-template #elseBlock>
                    <div *ngFor="let item of week.days[4];index as i;" cdkDrag [cdkDragDisabled]="!this.editing">
                      <button mat-raised-button class="topic-button"
                        [style.background-color]=stringToColor(item.technology.techName)>{{item.name}}</button>
                    </div>
                  </ng-template>
                </div>
              </td>

            </ng-container>
            <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
            <tr class="rowclass" cdk-row *cdkRowDef="let myRowData; columns: displayedColumns"></tr>
          </div>
        </table>
      </div>
    </div>
  </div>
</div>