<div class="container-for-all">
    <!-- [(ngModel)]="user.email" placeholder="" [formControl]="email" -->
    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    <!-- <div class="create-for-two">
        <mat-form-field appearance="fill" class="bg-white input-style">
            <mat-label class="user-label">Name</mat-label>
            <input matInput class="user-input">
        </mat-form-field>
        <mat-form-field appearance="fill" class="bg-white input-style">
            <mat-label class="user-label">Duration</mat-label>
            <input matInput class="user-input">
        </mat-form-field>
    </div> -->








    <div class="two-for-two fb50">
        <h2>{{title}}</h2>
        <button mat-raised-button (click)="openDialog4('create')">Pick one</button>
    </div>
    <table cdk-table id="data_table" [dataSource]="dataSource">
        <caption>Create topics for the entire week or something</caption>

        <ng-container cdkColumnDef="week">
            <th id="tech" cdk-header-cell *cdkHeaderCellDef> Weeks </th>
            <td cdk-cell *cdkCellDef="let week">
                <ng-container *ngFor="let values of weekObj">
                    <div *ngIf="values.weekId === week.id">
                        <p>Primary Tech : {{ values.selectedTech }}</p>
                    </div>
                </ng-container>
                <fa-icon class="icons" [icon]="icon" (click)="openDialogWeek('tech', week.id)"></fa-icon>
            </td>
        </ng-container>
        <ng-container cdkColumnDef="day1">
            <th id="day1" cdk-header-cell *cdkHeaderCellDef> Monday </th>
            <td cdk-cell *cdkCellDef="let week">
                <ng-container *ngFor="let values of dayObj">
                    <ng-container *ngFor="let tech of values.selectedTech">
                        <div *ngIf="values.weekId === (week.id - 1) * 5 + 1">
                            <div *ngIf="tech.id">
                                <p>{{ tech.name }}</p>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <button mat-raised-button (click)="openDialog2('topic', weekObj, week.id, 1)">Pick one</button>
            </td>
        </ng-container>
        <ng-container cdkColumnDef="day2">
            <th id="day2" cdk-header-cell *cdkHeaderCellDef> Tuesday </th>
            <td cdk-cell *cdkCellDef="let week">
                <ng-container *ngFor="let values of dayObj">
                    <ng-container *ngFor="let tech of values.selectedTech">
                        <div *ngIf="values.weekId === (week.id - 1) * 5 + 2">
                            <div *ngIf="tech.id">
                                <p>{{ tech.name }}</p>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <button mat-raised-button (click)="openDialog2('topic', weekObj, week.id, 2)">Pick one</button>
            </td>
        </ng-container>
        <ng-container cdkColumnDef="day3">
            <th id="day3" cdk-header-cell *cdkHeaderCellDef> Wednesday </th>
            <td cdk-cell *cdkCellDef="let week">
                <ng-container *ngFor="let values of dayObj">
                    <ng-container *ngFor="let tech of values.selectedTech">
                        <div *ngIf="values.weekId === (week.id - 1) * 5 + 3">
                            <div *ngIf="tech.id">
                                <p>{{ tech.name }}</p>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <button mat-raised-button (click)="openDialog2('topic', weekObj, week.id, 3)">Pick one</button>
            </td>
        </ng-container>
        <ng-container cdkColumnDef="day4">
            <th id="day4" cdk-header-cell *cdkHeaderCellDef> Thursday </th>
            <td cdk-cell *cdkCellDef="let week">
                <ng-container *ngFor="let values of dayObj">
                    <ng-container *ngFor="let tech of values.selectedTech">
                        <div *ngIf="values.weekId === (week.id - 1) * 5 + 4">
                            <div *ngIf="tech.id">
                                <p>{{ tech.name }}</p>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <button mat-raised-button (click)="openDialog2('topic', weekObj, week.id, 4)">Pick one</button>
            </td>
        </ng-container>
        <ng-container cdkColumnDef="day5">
            <th id="day5" cdk-header-cell *cdkHeaderCellDef> Friday </th>
            <td cdk-cell *cdkCellDef="let week">
                <ng-container *ngFor="let values of dayObj">
                    <ng-container *ngFor="let tech of values.selectedTech">
                        <div *ngIf="values.weekId === (week.id - 1) * 5 + 5">
                            <div *ngIf="tech.id">
                                <p>{{ tech.name }}</p>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <button mat-raised-button (click)="openDialog2('topic', weekObj, week.id, 5)">Pick one</button>
            </td>
        </ng-container>
        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
        <tr class="rowclass" cdk-row *cdkRowDef="let myRowData; columns: displayedColumns"></tr>
    </table>
    <button mat-raised-button (click)="createTable()">Create</button>
    <button mat-raised-button (click)="removeTable()">Remove</button>
















    <!-- MAKE A HEADER TO DISPLAY THE NAME SOMEWHERE HERE -->

    <!-- <div class="create-for-week">
        <div class="two-for-two fb50 monday">
            
        </div>
        <div class="two-for-two fb50 monday">
            <p>Monday</p>
            
        </div>
        <div class="two-for-two fb50">
            <p>Tuesday</p>
            
        </div>
        <div class="two-for-two fb50">
            <p>Wednesday</p>
            
        </div>
        <div class="two-for-two fb50">
            <p>Thursday</p>
            
        </div>
        <div class="two-for-two fb50">
            <p>Friday</p>
            
        </div>
    </div>
</div> -->

    <!-- <div class="container-for-all">
    <div class="create-for-two">
        <p>Curriculum WHY AM I DOING THIS ALONE?</p>
        <app-pie-chart [item]="currentItem"></app-pie-chart>
    </div>
    <table cdk-table id="data_table" [dataSource]="dataSource">
        <caption>Create topics for the entire week or something</caption>

        <ng-container cdkColumnDef="week">
            <th id="tech" cdk-header-cell *cdkHeaderCellDef> Weeks </th>
            <td cdk-cell *cdkCellDef="let week">
                <ng-container *ngFor="let dialog of newDialogData2">
                    <div *ngIf="dialog.counter === (week.id)">
                        Week {{week.id}}: {{dialog.name}}
                    </div>
                </ng-container>
                <button mat-raised-button (click)="openDialogForWeek('tech', week.id)">Pick one</button>
            </td>
        </ng-container>
        <ng-container cdkColumnDef="day1">
            <th id="day1" cdk-header-cell *cdkHeaderCellDef> Monday </th>
            <td cdk-cell *cdkCellDef="let week">
                <ng-container *ngFor="let dialog of newDialogData">
                    <div *ngIf="dialog.counter === ((week.id - 1) * 5 + 0)">
                        {{dialog.name}}
                    </div>
                </ng-container>
                <button mat-raised-button (click)="openDialog('topic', 0, week.id)">Pick one</button>
            </td>
        </ng-container>
        <ng-container cdkColumnDef="day2">
            <th id="day2" cdk-header-cell *cdkHeaderCellDef> Tuesday </th>
            <td cdk-cell *cdkCellDef="let week">
                <ng-container *ngFor="let dialog of newDialogData">
                    <div *ngIf="dialog.counter === ((week.id - 1) * 5 + 1)">
                        {{dialog.name}}
                    </div>
                </ng-container>
                <button mat-raised-button (click)="openDialog('topic', 1, week.id)">Pick one</button>
            </td>
        </ng-container>
        <ng-container cdkColumnDef="day3">
            <th id="day3" cdk-header-cell *cdkHeaderCellDef> Wednesday </th>
            <td cdk-cell *cdkCellDef="let week">
                <ng-container *ngFor="let dialog of newDialogData">
                    <div *ngIf="dialog.counter === ((week.id - 1) * 5 + 2)">
                        {{dialog.name}}
                    </div>
                </ng-container>
                <button mat-raised-button (click)="openDialog('topic', 2, week.id)">Pick one</button>
            </td>
        </ng-container>
        <ng-container cdkColumnDef="day4">
            <th id="day4" cdk-header-cell *cdkHeaderCellDef> Thursday </th>
            <td cdk-cell *cdkCellDef="let week">
                <ng-container *ngFor="let dialog of newDialogData">
                    <div *ngIf="dialog.counter === ((week.id - 1) * 5 + 3)">
                        {{dialog.name}}
                    </div>
                </ng-container>
                <button mat-raised-button (click)="openDialog('topic', 3, week.id)">Pick one</button>
            </td>
        </ng-container>
        <ng-container cdkColumnDef="day5">
            <th id="day5" cdk-header-cell *cdkHeaderCellDef> Friday </th>
            <td cdk-cell *cdkCellDef="let week">
                <ng-container *ngFor="let dialog of newDialogData">
                    <div *ngIf="dialog.counter === ((week.id - 1) * 5 + 4)">
                        {{dialog.name}}
                    </div>
                </ng-container>
                <button mat-raised-button (click)="openDialog('topic', 4, week.id)">Pick one</button>
            </td>
        </ng-container>
        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
        <tr class="rowclass" cdk-row *cdkRowDef="let myRowData; columns: displayedColumns"></tr>
    </table>
    <button mat-raised-button (click)="createTable()">Create</button>
    <button mat-raised-button (click)="removeTable()">Remove</button>
</div> -->