<h2 class="text-center header">{{ title }}</h2>
<div class="container-for-all">
    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
    <div class="table-for-show">
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="name">
                <mat-cell *matCellDef="let element" class="cell-corner" (click)="viewCurriculum(element.curriculumId)">
                    <div>{{element.curriculumName}}</div>
                    <div>{{element.numWeeks}} week(s)</div>
                </mat-cell>
            </ng-container>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <tr *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </mat-table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>