.title-content{
    position: relative;
    padding: 8px;
    width: 100%;
    background-color: #474C55;
    color: #fff;
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.4);
}
#title{
    position: relative;
    left: 9%;
    width:fit-content;
}
.general-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.curricula-background {
    width: 76%;
    background-color: #ffffff;
    border: solid .5px rgb(207, 207, 207);
    box-shadow: 0px 0px 10px 0.2px rgba(0, 0, 0, 0.25);
    margin-top: 0rem;
}
.curricula-content{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}
.search-box{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
#search-field{
    width: 80%;
}
.list-content {
    width: 100%;
    height: 100%;
    color: #000000;
}
th
{
    border-bottom: black 1px groove !important;
}
/*change color of form label*/
::ng-deep .search-box .mat-focused .mat-form-field-label {
    color: #F26925 !important;
}
::ng-deep .search-box .mat-form-field-underline,
::ng-deep .search-box .mat-form-field-ripple{
    background-color:  #F26925 !important;
}
.button-accent {
    background-color: #F26925;
    color: white;
    width: auto;
    height: 46px;
    font-weight: bold;
    font-size:15px;
    margin-top: 20px;
}
mat-paginator {
    width: 100%;
}
mat-grid-tile-footer {
    padding: 0;
}
.full-width-input {
    width: 100%;
}
table {
    width: 100%;
}
.mat-elevation-z0 {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.table-tile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.mat-grid-tile-content {
    height: 100%;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
    margin-left: 20px;
}  
td, th {
    width: 25%;
}