<div mat-dialog-content>
    <div class="dialog-content">

        <h1 mat-dialog-title>Topics</h1>

        <mat-accordion displayMode="default" [multi]="true" [hideToggle]="false" *ngIf="topics.length > 0">
            <mat-expansion-panel *ngFor="let topic of topics">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{topic.name}}
                        &nbsp;
                        <fa-icon class="icons" [icon]="faPencil" *ngIf="edit.target == topic.id && edit.state"></fa-icon>
                        <fa-icon class="icons" [icon]="faWarning" *ngIf="confirmDelete && topic.id == confirmDelete.target" style="color: red"></fa-icon>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                    <ng-container *ngIf="edit.target != topic.id">
                        <p> {{topic.description}} </p>
                    </ng-container>
                    
                    <ng-container *ngIf="edit.target == topic.id && edit.state">
                        <div class="form-content">
                            <mat-form-field appearance="fill">
                                <mat-label>Name</mat-label>
                                <input matInput [formControl]="editName">
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Description</mat-label>
                                <textarea matInput [formControl]="editDescription"></textarea>
                            </mat-form-field>
                        </div>
                    </ng-container>
                <mat-action-row>

                    <ng-container *ngIf="edit.target == topic.id && edit.state">
                        <button mat-button color="primary" (click)="cancelEdit()"> Cancel </button>
                        <button mat-button color="primary" (click)="saveEditTopic(topic)"> Save </button>
                    </ng-container>

                    <ng-container *ngIf="confirmDelete.target == topic.id && confirmDelete.state">
                        <button mat-button color="warn" (click)="deleteTopic(topic)"> Yes </button>
                        <button mat-button color="primary" (click)="confirmDelete = {'target': 0, 'state': false}"> Cancel </button>
                    </ng-container>

                    <ng-container *ngIf="edit.target != topic.id && confirmDelete.target != topic.id">
                        <button mat-button color="primary" (click)="editTopic(topic)"> Edit </button>
                        <button mat-button color="primary" (click)="confirmDelete = {'target': topic.id, state: true}"> Remove </button>
                    </ng-container>
                    
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
        
  
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-button  (click)="closeDialog()">Close</button>
</div>