.dialog-content {
    margin: 15px;
    position: relative;
}
.mat-expansion-panel-header-title {
    font-weight: 600;
}
p {
    margin: 16px 0px 0px 0px;
}
.form-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
mat-form-field {
    width: 100%;
}
#closeBtn {
    position: absolute;
    right: 10px;
    top: -20px;
    cursor: pointer;
    z-index: 10;
    font-size: 1.3rem;
}
#create-topic-btn {
    background-color: #F26925;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 1;
}
#create-btn {
    background-color: #F26925;
    color: white;
    font-weight: 600;
}
.actions-create {
    width: 100%;
    display: flex;
    justify-content: end;
}
.mat-dialog-content {
    margin-bottom: 15px;
    height: 106%;
}
.mat-dialog-container {
    overflow: hidden;
}
.dialog-contenido {
    height: 100%;
    position: relative;
}
