.button-accent {
    background-color: #F26925;
    color: white;
    font-weight: bold;
}
.actions-div{
    display: flex;
    justify-content: center;
}
.mat-dialog-content {
    height: auto;
    overflow: hidden;
}
form {
    display: flex;
    flex-direction: column;
}
.dialog-content{
    margin: 10px;
    text-align: center;
}