<div class="dialog-content">
    <fa-icon class="icons" id="closeBtn" (click)="cancelDialog()" [icon]="faClose"></fa-icon>
    <!-- Technology Dialog -->
    <ng-container *ngIf="data.input == 'tech'">
        <mat-form-field>
            <mat-select multiple placeholder="Technologies">
                <mat-option (onSelectionChange)="changeWeek($event)" *ngFor="let t of tech" [value]="t.techName">
                    {{ t.techName }}
                </mat-option>
                <hr>
                <div class="footer">
                    <button mat-raised-button (click)="cancelDialog()">Cancel</button>
                    <button class="button-accent" mat-raised-button (click)="confirmWeek()">Confirm</button>
                </div>
            </mat-select>
        </mat-form-field>
    </ng-container>
    <!-- Topic Dialog -->
    <ng-container *ngIf="data.input == 'topic'">
        <ng-container>
            <mat-form-field>
                <mat-select multiple placeholder="Topics">
                    <mat-option (onSelectionChange)="changeTopic($event)" *ngFor="let t of topicArray" [value]="t">
                        {{ t.name }}
                    </mat-option>
                    <hr>
                    <div class="footer">
                        <button mat-raised-button (click)="cancelDialog()">Cancel</button>
                        <button class="button-accent" mat-raised-button (click)="confirmTopic()">Confirm</button>
                    </div>
                </mat-select>
            </mat-form-field>
        </ng-container>
    </ng-container>
    <!-- Create Dialog -->
    <ng-container *ngIf="data.input == 'create'">
        <mat-form-field appearance="fill" class="bg-white input-style">
            <mat-label>Topic</mat-label>
            <input matInput [(ngModel)]="topic.name">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Select Technology</mat-label>
            <mat-select [(ngModel)]="topic.technology" placeholder="Technologies">
                <mat-option *ngFor="let t of tech" [value]="t">
                    {{ t.techName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <hr>
        <div class="footer">
            <button mat-raised-button (click)="cancelDialog()">Cancel</button>
            <button class="button-accent" mat-raised-button (click)="confirmCreate()">Confirm</button>
        </div>
    </ng-container>
    <!-- ======== when user first open our route =================== -->
    <ng-container *ngIf="!data.input">
        <div style="display: flex; align-items: center; flex-direction: column;">
            <mat-form-field appearance="fill" hideRequiredMarker="true">
                <mat-label class="user-label"> Curriculum Name </mat-label>
                <input matInput [(ngModel)]="curriculum.curriculumName" class="user-input" required>
            </mat-form-field>
            <div class="footer" style="padding-bottom: 0px;">
                <button mat-button (click)="cancelInput()">Cancel</button>
                <button class="button-accent" mat-raised-button (click)="confirmInput()">Create</button>
            </div>
        </div>
    </ng-container>
</div>