.button-accent {
    background-color: #F26925;
    color: white;
    font-weight: bold;
}
.dialog-content{
    text-align: center;
    margin: 15px;
    position: relative;
}
#closeBtn {
    position: absolute;
    right: -20px;
    top: -30px;
    cursor: pointer;
    z-index: 10;
    font-size: 1.2rem;
    color: rgb(185, 82, 82);
}
.footer{
    display: flex;
    padding-bottom: 10px;
    justify-content: space-evenly;
}